@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}

/* .logo-svg {
  filter: brightness(0) saturate(100%);
} */


/* FAQ */
.accordion {
  background-color: #eee;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  outline: none;
  display: flex;
  /* justify-content: space-between; */
  transition: background-color 0.4s ease;
}

.accordion .arrow {
  transition: transform 0.4s ease;
}

.active .arrow {
  transform: rotate(90deg);
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.4s ease; 
}

.panel p {
  text-align: left;
  margin: 0;
  padding: 18px 0;
}


.accordion-container {
  width: 50%;
  margin: 0 auto; 
}

@media (max-width: 1024px) {
  .accordion-container {
    width: 70%;
  }
}

@media (max-width: 767px) {
  .accordion-container {
    width: 90%;
  }
}
/* FAQ */


